<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd"
 default-autowire="byName" default-lazy-init="true">
<context:component-scan base-package="src"></context:component-scan>
<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/SM1"></property>
	<property name="user" value="root"></property>
	<property name="password" value="123"></property>
</bean>
<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	<property name="dataSource" ref="dataSource"></property>
	<property name="hibernateProperties">
		<props>
			
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop><!-- 数据库方言 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop> <!--自动创建表 -->
				<prop key="javax.persistence.validation.mode">none</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
		</props>
	</property>
	<property name="packagesToScan" value="po."></property>
</bean>
<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
  <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
<bean id="UserDAO" class="dao.UserDAOImpl"></bean>
<bean id="us" class="serviceimpl.UserServiceImpl"></bean>
<bean id="gd" class="dao.GoodsDAOImpl"></bean>
<bean id="gs" class="serviceimpl.GoodsServiceImpl"></bean>
<bean id="cd" class="dao.CartsDAOImpl"></bean>
<bean id="cs" class="serviceimpl.CartsServiceImpl"></bean>
</beans>